body {
  font-family: 'Alice', serif;
}

#homepage {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 1.5rem;
}

.home-section {
  margin: 2rem;
}

.question {
  font-weight: bold;
}

#home-cards {
  display: flex;
  justify-content: space-evenly;
}

.home-cards {
  height: 20rem;
  width: 20rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0 !important;
  margin-top: 3rem;
  font-size: 1.5rem;
  padding: 1rem;
  background: #368156;
  color: white;
}

#home-top {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 2rem;
}

#first-div {
  font-size: 1.5rem;
  font-weight: bold;
}

#second-div {
  font-size: 1rem;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.2rem;
}

#login-form input {
  border: thin solid black;
  font-family: 'Alice', serif !important;
  font-size: 1.2rem !important;
}

.field {
  margin-top: 0.5rem;
  margin-left: 1rem;
}

#login-button {
  border-radius: 10px 10px 10px 10px;
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: 1.2rem;
  font-family: 'Alice', serif;
}

#with-google {
  font-family: 'Alice', serif;
  font-size: 1.2rem;
  margin-left: 1rem;
  margin-top: 0.5rem;
}

h1.loading,
.loading {
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  color: #ef6461;
  font-weight: bold;
  margin-top: 5rem;
}
/* NAVBAR */

#nav {
  font-family: 'Alice', serif;
  font-size: 1.25rem;
  display: flex;
  justify-content: space-between;
  border-bottom: solid thin gray;
}

a {
  text-decoration: none !important;
  color: black !important;
}

#logo {
  width: 50%;
}

.links {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-around;
}

.nav-link:hover {
  text-decoration: none;
  color: #ef6461 !important;
}

/* FOOTER */
#fence {
  background-image: url('./e8c31eb93d4ccab91e52256f6a7d5ea9.png');
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 20%;
  height: 5rem;
  position: fixed;
  width: 100%;
  bottom: 0;
}

/* PLANTS */
#plants-in-zone {
  display: flex;
  flex-direction: column;
}

#choose-different-location {
  margin: 20px;
  font-size: 30px;
  display: flex;
  align-self: flex-end;
}

#back-button {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  margin-left: 1rem;
  margin-top: 1rem;
  border-radius: 20px 20px 20px 20px;
  width: 8rem;
}

#plant-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#plant-in-plant-list {
  font-size: 20px;
  width: 250px;
  text-align: center;
  margin: 20px;
}

#plant-in-plant-list:hover {
  color: #368156;
}

#plant-in-plant-list-name {
  padding-bottom: 10px;
  font-family: 'Lato', sans-serif;
}
#plant-in-plant-list-img {
  border: thin solid black;
  height: 250px;
  width: 220px;
  border-radius: 20px 20px 20px 20px;
}

#plant-in-plant-list-img:hover {
  border: solid #368156;
}

#single-plant-view {
  font-size: 40px;
  margin: 20px;
}

.accordion {
  width: 200%;
  padding-right: 20px;
  font-family: 'Lato', sans-serif;
}

.accordion > .card > .card-header {
  background-color: #f9e784;
  text-align: center;
  font-size: 1rem;
}

.card {
  margin-left: -0.5rem;
}

#single-plant-view-common_name {
  font-family: 'Lato', sans-serif;
}

#single-plant-view-details > img {
  height: auto;
  width: 30%;
  border-radius: 20px 20px 20px 20px;
}

#single-plant-view-details {
  display: flex;
}

.btn-link {
  font-weight: bold;
  color: black !important;
}

li {
  padding: 5px;
}

.accordion {
  width: 350px;
}

#single-plant-view-specs {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  margin-left: 2%;
}

#add-to-garden-button {
  font-family: 'Lato', sans-serif;
  border-radius: 20px 20px 20px 20px;
  margin-bottom: 5%;
  width: 10rem;
  margin-left: -0.5rem;
}

#successfully-added {
  font-size: 30px;
  padding: 20px;
}

#go-to-garden-button {
  margin-left: 20px;
  font-family: 'Lato', sans-serif;
  border-radius: 20px 20px 20px 20px;
  width: 8rem;
}

/* GARDEN  */
label {
  font-family: 'Alice', serif;
}

/* NEW-GARDEN */
#get-started-button {
  border-radius: 50px 50px 50px 50px;
  font-size: 40px;
  padding: 20px;
  font-family: 'Alice', serif;
}

#get-started-container {
  text-align: center;
  margin-top: 15%;
}

#questionaire {
  display: flex;
  flex-direction: column;
  font-size: 40px;
  font-family: 'Alice', serif;
  margin: 10%;
}

#Question1 {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.location-select {
  font-family: 'Alice', serif;
  margin: 20px;
  font-size: 40px;
  width: 400px;
  align-self: center;
  border: thin solid black;
  border-radius: 10px 10px 10px 10px;
}

#Question2 {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#Question3 {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#plant-select {
  font-family: 'Alice', serif;
  font-size: 40px;
  align-self: center;
  margin: 20px;
  border: thin solid black;
  border-radius: 10px 10px 10px 10px;
}

#Question4 {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#name-input {
  font-size: 40px;
  margin: 20px;
  font-family: 'Alice', serif;
  text-align: center;
  border: thin solid black;
  border-radius: 10px 10px 10px 10px;
}

button {
  font-family: 'Alice', serif;
  border-radius: 50px 50px 50px 50px;
  background-color: #368156;
  color: white;
  border: solid thin #368156;
  margin: 2px;
}

#fourByFour,
#eightByFour {
  font-size: 40px;
  width: 7rem;
  margin: 20px;
  font-family: 'Alice', serif;
  background-color: lightgray;
  border: none;
  border-radius: 20px 20px 20px 20px;
  color: black;
}

#fourByFour:focus,
#eightByFour:focus {
  background-color: #ef6461;
  color: white;
}

#submit-answers {
  display: flex;
  flex-direction: column;
  font-size: 40px;
  padding: 20px;
  text-align: center;
  font-family: 'Alice', serif;
}

#submit-answers button {
  font-size: 40px;
  padding: 20px;
  margin: 40px;
  font-family: 'Alice', serif;
  border-radius: 50px 50px 50px 50px;
}

.next-previous {
  display: flex;
  flex-direction: reow;
  justify-content: center;
  margin: 5px;
}

.next-previous button {
  font-family: 'Alice', serif;
  border-radius: 50%;
  font-size: 1.5rem;
}

#garden-created-and-button {
  margin-left: 20px;
}

#garden-created {
  font-family: 'Lato', sans-serif;
}

/* SINGLE-GARDEN IN MY GARDENS COLLECTION*/
.single-garden-container-details {
  padding-bottom: 20px;
}

#single-garden-container {
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 1.25rem;
  background-color: white;
  border: thick solid transparent;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 15rem;
  height: 15rem;
  /* border-radius: 20px 20px 20px 20px; */
  background-color: #368156;
}

#single-garden-container:hover {
  border: thick dashed white;
  font-weight: bold;
}

#garden-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#my-gardens {
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

#my-gardens-title {
  font-family: 'Lato', sans-serif;
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin: 20px;
}

#single-garden {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

#edit-gardens-div {
  display: flex;
  justify-content: center;
}

#delete-garden-button {
  background: gray;
  width: 15rem;
  border: thin solid gray;
}

#delete-plant-button {
  color: gray;
  border: none;
  /* border: thin solid gray; */
  background: transparent;
}

#delete-plant-button:hover {
  color: #ef6461;
  border: none;
  background: transparent;
}

#grid {
  border: thin solid black;
  padding: 0px;
  margin-top: 50px;
}

table {
  border-spacing: 0px;
  border: thin solid gray;
  margin: 30px;
}

td {
  text-align: center;
  height: 5rem;
  width: 5rem;
  background-color: white;
  border: thin solid gray;
  color: #368156;
}

td:hover {
  background-color: #368156;
  color: white;
}
#\30 \,145 {
  background-color: red;
}
a {
  text-decoration: none;
  color: black;
}

#single-garden-view {
  display: flex;
  padding: 20px;
  justify-content: space-evenly;
  align-items: flex-start;
}

#single-garden-details-div {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
}

#garden-title {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
}

#garden-name {
  font-weight: bold;
}

.garden-details {
  font-size: 1.5rem;
}

.plants-in-garden {
  padding-top: 5px;
  display: flex;
  justify-content: space-evenly;
}

/* .plants-in-garden:hover {
  color: #ef6461;
} */

/* .button-and-tooltip {
  position: relative;
  border-bottom: 1px dotted black;
} */

.tooltiptext {
  visibility: hidden;
  width: 4rem;
  background-color: #ef6461;
  color: white;
  text-align: center;
  border-radius: 20px 20px 20px 20px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  font-size: 0.8rem;
}

.button-and-tooltip:hover .tooltiptext {
  visibility: visible;
}

#grid-details {
  display: flex;
  justify-content: space-evenly;
}

#details {
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.add-plants-button {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  margin-top: 20px;
  border-radius: 20px 20px 20px 20px;
}
/* LOCATION FORM */
#location-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 50px;
  padding: 20px;
  font-family: 'Alice', serif;
  font-size: 40px;
}

#submit-location-form {
  width: 210px;
  align-self: center;
  margin: 20px;
  font-size: 40px;
  border-radius: 50px 50px 50px 50px;
}

/* TRANSITIONS */
.roll-appear {
  opacity: 0;
}
.roll-enter {
  opacity: 0;
}

.roll-enter-done {
  margin: 0px;
  opacity: 1;
  transition: transform 1000ms, opacity 1000ms;
  padding-bottom: 25%;
}

.roll-exit {
  opacity: 1;
}

.roll-exit-active {
  opacity: 0;
  transition: transform 1000ms, opacity 1000ms;
}

.active {
  background-color: #368156;
}

@media screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3),
  screen and (min-device-width: 375px) and (max-device-width: 667px) {
  html {
    width: 100%;
  }
  #my-gardens {
    width: 100%;
  }

  #nav {
    display: inline;
  }

  #links {
    width: 100%;
    text-align: center;
    display: inline;
  }

  #seed {
    display: flex;
    justify-content: center;
  }

  #grid-details {
    display: inline;
  }

  #single-garden-view {
    display: inline;
    padding: 0px;
  }

  #details {
    text-align: center;
  }

  #get-started-button {
    font-size: 2rem;
  }

  label {
    font-size: 2rem;
  }

  .location-select {
    font-size: 2rem;
    width: 100%;
  }

  #fourByFour,
  #eightByFour {
    font-size: 2rem;
  }

  #Question4 {
    font-size: 2rem;
  }

  #name-input {
    width: 100%;
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-left: 0;
    margin-right: 0;
  }

  #submit-answers button {
    font-size: 2rem;
    margin: 1rem;
  }
  #single-plant-view-details {
    display: flex;
    flex-direction: column;
  }

  #single-plant-view-details > img {
    align-self: center;
  }

  #add-to-garden-button {
    margin-top: 1rem;
    align-self: center;
  }

  #single-plant-view-common_name {
    font-size: 2rem;
    text-align: center;
  }
}
