html {
  background-color: #bfe6ed;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
  font-family: 'Alice', serif;
}

/* NAVBAR */
#nav.bg-light {
  background-color: transparent !important;
}

.navbar-light .navbar-nav .nav-link {
  color: black !important;
}
